body {
    margin: auto;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* display: flex; */
}

/* header */

.navbar{
    display: flex;
    align-items:center;
    padding:20px;
  }
  nav{
    flex:1;
    text-align: right;
    
  }
  nav ul{
    display: inline-block;
    list-style-type:none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
    
  }
  a{
    text-decoration: none;
    color: #555;
  }
  p{
    color:#555;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left:25px;
    padding-right: 25px;
  
  }


main{

background-image: url(May23Hero.jpg);
position:relative;
background-size: cover;
background-position: bottom;
height: 900px;
background-repeat: no-repeat;
object-fit: contain;
}
#hero h1{
    font-size: 2em;
    color:#fff;
    position: absolute;
    bottom: 0;
    right: 0;
    
}


/* cards */
#cardholder{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161623;
}

.card{
    position: relative;
    width: 380px;
    height: 300px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.content{
    padding: 20px;
    text-align: center;
    transition: 00.5s;
    transform: translate3d(100px);
    opacity: 0;
    transition: 0.5s;
}
.card:hover .content{
    transform: translate3d(100px);
    opacity: 1;
}
.content h3{
position:absolute;
text-align: center;
top: -20px;
/* right: 30px; */
font-size: 2em;
color: #ffff;
pointer-events: none;
}
h4{
    position: relative;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    z-index: 1;
}
.content a{
    display: inline-block;
    justify-content: center;
    padding: 8px 20px;
    margin: 15px;
    color: #ffff;
    background: #555;
    border-radius: 30px;
    transition: background 0.5s;
  }
  .content a:hover{
    background: #563434;
  }  

/* .content btn{
    display: inline-block;
    justify-content: center;
    background: #555555;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  .btn:hover{
    background: #563434;
  }   */

/* footer */
 .footer{
    background: #000;
    color:#8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  .footer p{
      color:#8a8a8a;
  
  }
  .footer h3{
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    
  }
  .footer-col-1{
    flex-basis:30px;
  }
  .footer-col-2{
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    
  }
  .footer-col-3, .footer-col-4{
  flex-basis:12%;
    text-align:center;
  }
  ul{
    list-style-type: none;
  }
  .app-logo{
    margin-top: 20px;
  }
  .app-logo img{
    width: 140px;
  }
  .footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .Copyright{
    text-align: center;
  }
  .menu-icon{
    width:28px; 
    margin-left: 20px;
    display:none;
  }
