*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* INITIALIZING GRID FOR MY CONTENT */
section{
    display: grid;
    grid-template-columns: 60% 30%;
}

section article p{
    height: 10%;
    width: 40%;
}
section article{
    padding-left: 5%;
}
/* BUTTONS FOR THE ARTICLE */
input{
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: transform 250ms;
}
input:hover {
    transform: translateY(-15%);
    cursor: pointer;
  }

 nav{ display: flex;
    align-items: right;
    justify-content: right;
 }
 nav li{
     text-decoration: none;
 }

 @media screen and (max-width: 480px) {
    
    section{
        display: grid;
        grid-template-columns: 100%;
    }

    header h1  {
        text-align: center;
    }
    *{
        max-width:min-content;
    }
  }